.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rowGrid {
    display: flex;
}
.singleGrid {
    border: solid 1px black;
    padding: 10px;
}
.pen {
    background-color: red;
}